<template>
  <h1>Movies</h1>

  <div class="row">
    <div class="col-sm-10">
      <p>
        <a class="btn btn-info" data-toggle="collapse" data-target="#categoriesCollapse" role="button" aria-expanded="false" aria-controls="categoriesCollapse">
          Filter by category
        </a>
      </p>
</div>
<div>
        <input type="text" value.bind="query" placeholder="Search by title">
  </div>
        </div>
  <table class="table">
      <tbody class="collapse card card-body" id="categoriesCollapse">
        <tr>
          <td repeat.for="category of _categories">
            <label class="btn btn-light">
              ${category.name}
              <input type="checkbox" model.bind="category.name" checked.bind="selectedCategories" change.trigger="queryChanged()">
            </label>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  

  <table class="table" >
      <thead>
          <tr>
              <th>
                  Title
              </th>
              <th>
                  Category
              </th>
              <th>
                  Year
              </th>
              <th>
                  Rating
              </th>
              <th></th>
          </tr>
      </thead>
      <tbody repeat.for="movie of _movies">
          <tr >
              <td>
                  ${movie.title}
              </td>
              <td>
                  ${movie.category.name}
              </td>
              <td>
                  ${movie.year}
              </td>
              <td>
                  ${movie.rating}
            </td>
            <td>
              <a class="btn btn-info" data-toggle="collapse" data-target="#${movie.idAsString}" role="button" aria-expanded="false" aria-controls="${movie.idAsString}">Show details</a>
            </td>
          </tr>
            <tr class="collapse card card-body" id="${movie.idAsString}">
              <td>
                <div>Title - ${movie.title}</div>
                <div>Year - ${movie.year}</div>
                <div>Rating - ${movie.rating}</div>
                <div>Description - ${movie.description}</div>

              </td>
          
            
          </tr>
      </tbody>
  </table>

  <footer class="border-top footer text-muted">
    <div class="container">
         <a>2020 - Gregor Rehand - Application for CGI</a>
    </div>
</footer>
</template>
